<div id="<%= dom_id property %>">
  <td>
    <%= property.name %>
  </td>
  <td>
    <%= property.address %>
  </td>
  <td>
    <%= property.price %>
  </td>
  <td>
    <%= property.rooms %>
  </td>
  <td>
    <%= property.bathrooms %>
  </td>
  <td>
    <%= property.area %>
  </td>
  <td>
    <%= property.kind %>
  </td>
  <td>
    <%= property.operation %>
  </td>
  <td>
    <%= property.city %>
  </td>
  <td>
    <%= property.zone %>
  </td>
  <td>
    <%= property.description %>
  </td>
  <td>
    <%= property.lot_area %>
  </td>
  <td>
    <%= property.parkings %>
  </td>
  <td>
    <div class="img-fluid" max-width="50px" max-height="50px">
    <%= image_tag(property.image_url, :size => "100x100") if property.image %>
    </div>
  </td>
</div>
