<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= property.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= property.kind %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= property.operation %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= property.zone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Lot area:</strong>
    <%= property.lot_area %>
  </p>

  <p>
    <strong>Parkings:</strong>
    <%= property.parkings %>
  </p>

</div>
